@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background: url("/public/images/hero.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
  width: max-content;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 30s; /* Faster animation on mobile devices */
  }
}
